<%= simple_form_for @mission do |f| %>
  <div class="form-group">
    <%= f.input :title, label: '標題', input_html: { class: "form-control"} %>
    <%= f.input :content, label: '內容', input_html: { class: "form-control"} %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
<% end %>
