<div class="col-md-12">

  <h2 class="text-center"> 百日任務 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th> 標題 </th>
        <th> 留言數 </th>
        <th> 更新時間 </th>
      </tr>
    </thead>

    <tbody>
      <% @missions.each do |mission| %>
        <tr>
          <td> # </td>
          <td> <%= link_to(mission.title, mission_path(mission)) %> </td>
          <td> <%= mission.comments.count %> </td>
          <td> <%= mission.updated_at %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= will_paginate @missions %>
  </div>

</div>
