<h2 class="text-center"> 進度表 </h2>

<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>

      <th>姓名</th>
      <th>完成度</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td>
        <% user.progress = render_user_total_progress(user) %>
        <%= number_with_precision(user.progress, precision: 2) %>%
      </td>
      </tr>
    <% end %>

  </tbody>
</table>
