<h2 class="text-center"> 進度排行 </h2>

<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>

      <th>姓名</th>
      <th>完成度</th>
    </tr>
  </thead>

  <tbody>
    <% ranking = 0 %>
    <% @users.each do |user| %>
      <tr>
        <% ranking = ranking + 1%>
        <td><%= ranking %></td>
        <td><%= user.username %></td>
        <td><%= number_with_precision(user.progress, precision: 2) %>%</td>
      </tr>
    <% end %>

  </tbody>
</table>
